body{
    background: url("imagenes/fondoI.png")no-repeat center center fixed;
    background-size:100%;
}

#titulo {
background-color: #0000009c;
}

#textoTitulo {
  text-align: center;
  color: coral;
  margin-top: 5%;
  margin-bottom: 5%;
}

#card2 {
  background-color: #0000009c; 
  margin: 2%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

#card3 {
  background-color: #0000009c; 
  margin: 0%;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 18%;
}

#nivel1, #nivel2, #nivel3 {
  background-color: #222; 
  color: white; 
  padding: 8%;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#nivel1{
  background: url(imagenes/fondoNivel1.png);
  background-size: 100%;
}
#btnNivel1, #btnNivel2, #btnNivel3{
  background-color: red;
  align-items:end;
}

#nivel2{
  background: url(imagenes/fondoNivel2.jpg);
  background-size: 100%;
}


#nivel3{
  background: url(imagenes/fondoNivel3.png);
  background-size: 100%;
  margin-bottom: 10%;
}

.niveles {
  display:block;                               
  gap: 1%;                    
  margin-top: 5%;
}
#footer{
  background-color: #0000009c; 
}

#contenidoFooter{
  text-align: center;
  color: rgba(114, 114, 114, 0.884);
  margin-top: 5%;
  margin-bottom: 5%;
}

.container{
  color: rgba(114, 114, 114, 0.884);
  display: block;
  align-content: center;
  max-width: 20%;
}

#programadores{
  color: #a3a3a388;
  display: block;
  align-content: center;
  max-width: 20%;
  margin-left: 46%;
  margin-bottom: 5%;
}